<div class="toggle-list">
  <details class="toggle-section">
    <summary>
      <h3>Section 1</h3>
      <span class="toggle-arrow"></span>
    </summary>
    <div class="content">
      <p><b>x</b> xxxx</p>
      <p>xxxxxxx</p>
    </div>
  </details>

  <details class="toggle-section">
    <summary>
      <h3>Section 2</h3>
      <span class="toggle-arrow"></span>
    </summary>
    <div class="content">
      <p><b>y</b> yyyy</p>
      <p>yyyyyyy</p>
    </div>
  </details>

  <details class="toggle-section">
    <summary>
      <h3>Section 3</h3>
      <span class="toggle-arrow"></span>
    </summary>
    <div class="content">
      <p><b>z</b> zzzz</p>
      <p>zzzzzzz</p>
    </div>
  </details>
</div>